.blog-list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 992px) {
  .blog-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
