div {
  background-color: white;
  border-radius: 8px;
  height: 52px;
  padding: 0 16px;
  width: 350px;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-icon {
  color: #a9a9ac;
}

input {
  font-size: 16px;
  line-height: 28px;
  margin-left: 12px;
  border: none;
  outline: none;
  width: 100%;
}

input::placeholder {
  color: #a9a9ac;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #a9a9ac;
}

input::-ms-input-placeholder {
  color: #a9a9ac;
}
