.banner {
  background-image: url("https://img.freepik.com/free-vector/natural-background-with-mountains-landscape_23-2148257711.jpg?t=st=1656174317~exp=1656174917~hmac=166211996dd6b439725efae5eded953488d1aadd9c2c89236282ddfa39469403&w=1380");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.banner-text {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.search-bar {
  position: absolute;
  bottom: -26px;
}
