.search-banner {
  background-image: url("https://img.freepik.com/free-vector/natural-background-with-mountains-landscape_23-2148257711.jpg?t=st=1656174317~exp=1656174917~hmac=166211996dd6b439725efae5eded953488d1aadd9c2c89236282ddfa39469403&w=1380");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-content {
  color: white;
  text-align: center;
}

.banner-title {
  font-weight: 800;
  font-size: 2rem;
}

.banner-subtitle {
  font-size: 1.25rem;
}

.search-bar {
  position: absolute;
  bottom: -1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0 1rem;
  width: 300px;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-icon {
  color: #a9a9ac;
}

input {
  margin-left: 1rem;
  border: none;
  outline: none;
  width: 100%;
}

input::placeholder {
  color: #a9a9ac;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #a9a9ac;
}

input::-ms-input-placeholder {
  color: #a9a9ac;
}

.search-message {
  margin-top: 50px;
}

.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: center;
  gap: 3rem;
}

@media screen and (min-width: 762px) {
  .banner-title {
    font-size: 2.5rem;
  }

  .banner-subtitle {
    font-size: 1.5rem;
  }
}
