<nav>
    <app-logo></app-logo>
    <ul>
        <li>
            <a routerLink="/search" class="link">Search</a>
        </li>
        <li>
            <a routerLink="/login" *ngIf="!isAuthenticated" class="link">Sign In</a>
            <a *ngIf="isAuthenticated" class="link" (click)="logout()">Log out</a>
        </li>
        <li>
            <a routerLink="/add" *ngIf="isAuthenticated" class="btn">Share your stories</a>
            <a routerLink="/login" *ngIf="!isAuthenticated" class="btn">Share your stories</a>
        </li>
    </ul>

</nav>