.banner {
  background-image: url("https://img.freepik.com/free-vector/painted-background-multicoloured-palette_23-2148427592.jpg?w=1380");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  color: white;
}

.padding {
  padding: 30px;
}

form {
  max-width: 700px;
  margin: auto;
}

button {
  display: block;
  margin: 2rem auto;
}
