nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.active-link {
  color: #89cff0;
}

.showIfLoggedIn {
  display: flex;
  column-gap: 150px;
  justify-content: space-between;
}

.searchInput {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  padding-left: 3px;
  height: 30px;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  height: 30px;
  padding: 5px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-bottom-color: black;
  border-bottom-width: 2px;
  background-color: white;
}
