<nav class="container">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    BLOG
  </a>
  <a routerLink="/post" routerLinkActive="active-link">
    <fa-icon [icon]="faPlus"></fa-icon>
  </a>
  <input
    type="text"
    placeholder="Search"
    aria-label="Search"
    name="searchinput"
    [(ngModel)]="userInput"
  />
  <a routerLinkActive="active-link" (click)="onSearch()">
    <fa-icon [icon]="faSearch" aria-hidden="true"></fa-icon>
  </a>
  <div *ngIf="!this.authenticationService.isUserLoggedIn(); else elseBlock"><a routerLink="/login" routerLinkActive="active-link">
    Login
   </a></div>
   <ng-template #elseBlock><a href="/logout" (click)="handleLogout()" routerLinkActive="active-link"
    >Logout</a></ng-template>
</nav>
