.banner {
  background-image: url("https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_79603-1847.jpg?t=st=1656193280~exp=1656193880~hmac=157f9180a594639320bc025b8ad67c17e9fb9874bace193a8f48b8c078d6f336&w=1380");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  color: white;
}

section.padding {
  padding: 30px;
}

form {
  max-width: 700px;
  margin: auto;
}

button {
  display: block;
  margin: 2rem auto;
}
