<section class="auth">
    <!-- alert
    logo -->
    <div class="auth-left bg"></div>
    <div class="auth-right">
        <div class="auth-logo">
            <app-logo></app-logo>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
            <h2 class="auth-title">Sign in to Ramble</h2>
            <fieldset class="auth-field">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" />
                <small></small>
            </fieldset>
            <fieldset class="auth-field">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" />
            </fieldset>
            <button type="submit" class="auth-button">Sign In</button>
            <small class="auth-small">Not a member? <a [routerLink]="['/signup']">Sign up now</a></small>
        </form>
    </div>
</section>