.banner {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907303.jpg?w=1380&t=st=1656192360~exp=1656192960~hmac=cec79d012b568eda966827d45bc07a176db616d0eb50ce5b4925a726dda9cf3f");
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.banner-text {
  max-width: 600px;
  line-height: 1.5;
}

.banner-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.banner-text p {
  margin-bottom: 2rem;
}

.blogs {
  display: grid;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
