.home-banner {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907303.jpg?w=1380&t=st=1656192360~exp=1656192960~hmac=cec79d012b568eda966827d45bc07a176db616d0eb50ce5b4925a726dda9cf3f");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: center;
  gap: 3rem;
}
