<section class="banner">
    <div class="banner-text">
        <h1>
            Explore the world’s leading blogging platform
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque mattis est quis interdum. In ex
            lacus,
            auctor iaculis pulvinar nec, consequat non ipsum. Suspendisse in felis laoreet, rutrum diam in, vehicula
            diam.
        </p>
        <a *ngIf="true" [routerLink]="['/signup']">Sign Up</a>
    </div>
</section>