<main class="container">
    <h1>Update A Post</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="two-columns">
        <div class="field">
          <label for="image">Image</label>
          <input
            type="text"
            formControlName="image"
            placeholder={{tempblog?.imageUrl}}
            class="text-input"
          />
        </div>
      </div>
      <div class="field">
        <label for="title">Title</label>
        <input
          type="text"
          formControlName="title"
          placeholder={{tempblog?.title}}
          class="text-input"
        />
      </div>
      <div class="field">
        <label for="content">Content</label>
        <textarea
          formControlName="content"
          cols="30"
          rows="30"
          class="text-input"
          placeholder={{tempblog?.content}}
        ></textarea>
      </div>
      <button type="submit">Update</button>
    </form>
  </main>
  