footer {
  height: 100%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1px;
}

div {
  text-align: center;
}

a {
  color: #ea4c89;
}
